<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>Manage persons</title>
</head>
<body>
<H1>Manage persons</H1>
<a class="h3" th:href="@{/persons/new}">New person</a>
<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Password</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="person: ${personsList}">
        <tr>
            <td th:text="${person.firstName}"/>
            <td th:text="${person.lastName}"/>
            <td th:text="${person.email}"/>
            <td th:text="${person.password}"/>
            <td>
                <a th:href="@{'/persons/delete/' + ${person.id}}">Delete</a>
                <a th:href="@{'/persons/edit/' + ${person.id}}">Update</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>